# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
logs/
*.sqlite3

# Static files
staticfiles/

# Media files
media/

# Virtual environment
venv/
.env

# IDE-specific files
.vscode/
.idea/

# Environment variables file
.env

# Compiled Python files
*.pyc

# macOS
.DS_Store

/.news
